.chart-with-date-picker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}

@media (max-width: 700px) {
  .chart-with-date-picker {
    flex-direction: column;
  }
}
