.charts-page {
  padding-top: 64px;
  color: honeydew;
  row-gap: 30px;
  display: flex;
  flex-direction: column;
}

.date-picker-button {
  width: 100%;
}

.empty-data {
  color: #414141;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}