.modal-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  color: honeydew;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #151515;
  padding: 20px 40px 30px;
}

.chart-name-input {
  width: 100%;
  max-width: 900px;
  font-size: 20px !important;
}

.tools-row {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}

.input-and-select {
  width: 100%;
  display: flex;
  column-gap: 16px;
}

.chart-bg-color-selector {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
}

.chart-and-color-picker {
  display: flex;
  column-gap: 8px;
}

.color-picker {
  background-color: #282c34 !important;
  border-radius: 0 !important;
}

@media (max-width: 700px) {
  .modal-container {
    justify-content: center;
  }
  .chart-and-color-picker {
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
  }
  .tools-row {
    flex-direction: column;
    row-gap: 8px;
  }
}