.date-picker {
  background-color: #282c34;
}

.react-datepicker {
  background-color: #282c34;
  border: none;
  border-radius: 0;
}

.react-datepicker__header {
  background-color: #282c34;
}

.react-datepicker__current-month {
  color: #e5e5e5;
}

.react-datepicker__day-name {
  color: #dcdcdc;
}

.react-datepicker__day {
  color: honeydew;
}

.react-datepicker__day:hover {
  background-color: #1c1c1c;
}

.react-datepicker__day--in-range {
  background-color: #673ab7;
}

.react-datepicker__day--selected {
  background-color: #7851bd;
}

.react-datepicker__day--keyboard-selected {
  background-color: #7d65a8;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range) {
  background-color: #783de1;
}
