.settings {
  padding-top: 64px;
  color: honeydew;
  row-gap: 30px;
  display: flex;
  flex-direction: column;
}

.open-modal-button {
  max-width: 200px;
  column-gap: 8px;
}

.chart-and-edit-block {
  display: flex;
  column-gap: 8px;
}

.edit-block {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

@media (max-width: 700px) {
  .chart-and-edit-block {
    flex-direction: column;
    row-gap: 8px;
  }
  .edit-block {
    flex-direction: row;
    column-gap: 8px;
  }
}