.add-button {
  max-width: 200px;
  column-gap: 8px;
}

.chart-item {
  display: flex;
  column-gap: 8px;
}

.buttons-block {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

@media (max-width: 700px) {
  .chart-item {
    flex-direction: column;
    row-gap: 8px;
  }
  .buttons-block {
    flex-direction: row;
    column-gap: 8px;
  }
}
