.modal-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.chart-name-input {
    width: 250px;
}

.adding-chart {
    display: flex;
    align-items: flex-end;
    column-gap: 16px;
}

.add-button {
    height: 56px;
}

.chart-bg-color-selector {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
}

.modal-title {
    color: honeydew;
}

.chart-and-picker {
    display: flex;
    column-gap: 8px;
}